<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrator Login</title>
    <link rel="stylesheet" href="/css/adminlogin.css">
</head>
<body class="">
<h1>Administrator Login</h1>
<span id="togglebox" onclick="toggle()">
    <span id="toggle" class="left"></span>
</span>
<form method="post" target="/adminlogin">
    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
    <script src="/js/adminlogin.js"></script>
</form>
</body>
</html>