<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Umfrage Tool</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1>Umfrage Tool</h1>
<div>
    <a href="/Umfrage.html">Aktuelle Umfrage</a>
    <a href="/Diagram.html">Auswertung Umfrage</a>
    <a href="/admin">Admin Seite</a>
</div>
<span>
    <img src="/img/diagram.png" height="64" width="64">
    <img src="/img/umfrage.png" height="64" width="142">
</span>
<p><a href="https://github.com/Jugendhackt/UmfrageBackend">Github Repository</a></p>
</body>
</html>